/* .bg-body-tertiary{
    background-color: #062ea7 ;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
}

#home ,#contact, #about,#basicNavDropdown, #equipments{
    color:#ffffff;
}


#login{
    margin-left: auto;
    color:#ffffff;
}
 */